#upper{
	position: fixed;
	width:100%;
}
#banner {
	background-color: green;
	border-color: green;
	border-style: solid;
}
#name {
	text-align: left;
	color: white;
	margin-left: 20px;
	font-size: 15pt;	
}
#menu {
	background-color: #E6E0EE;
	text-align: right;
}

#menu button {
	background-color: inherit;
	margin-right: 5px;
	border: none;
	cursor: pointer;
}

#marcianito {
	margin-left: 15px;
}

.separator {
	background-color:transparent;
	height: 67px;
}

.content {
	margin-left: 20px;
	margin-right: 20px;
}

#footer {
	background-color: green;
	position: bottom;
	text-align: center;
}

p {
	text-align: justify;
	font-size: 20pt;
	margin-left: 20px;
	margin-right: 30px;
}