#upper{
	position: fixed;
	width:100%;
}
#noBanner {
	background-color: green;
	border-color: green;
	border-style: solid;
}
#name {
	text-align: left;
	color: white;
	margin-left: 20px;
	font-size: 20pt;	
}
#menu {
	background-color: #E6E0EE;
	text-align: right;
}

#menu button {
	background-color: inherit;
	margin-right: 5px;
	border: none;
	cursor: pointer;
}

#marcianito {
	margin-left: 15px;
}

#audio {
	margin-left: 20px;
}

.separator {
	background-color:transparent;
	height: 72px;
}

.content {
	margin-left: 20px;
	margin-right: 20px;
}

#footer {
	background-color: green;
	position: bottom;
	text-align: center;
}
#bye {
	color: white;
}

h3{
	text-align: center;
	color: white;
}

p {
	text-align: justify;
	font-size: 20pt;
	margin-left: 20px;
	margin-right: 30px;
}

#bannerReal{
	background-color: black;
	border-bottom: 20px;
	text-align: center;
	border-style: solid;
	border-color: black;
}

#welcome{
	color: white;
	font-size: 40;
	text-align:center;
	border-top: 20px;
	border-bottom: 20px;
	border-color: black;
	border-style: solid;
}